@import '../../sass/mixin';
@import '../../sass/variables';

.weather {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;

  @include ipad {
    justify-content: space-around;
  }

  .weather-temperature {
    margin-top: 20px;
    @include desktop {
      margin-top: 20px;
    }
  }

  .title {
    font-size: 2.8rem;
    font-weight: 100;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include ipad {
      font-size: 3.4rem;
      margin-bottom: 10px;
    }
  }

  .temp-main {
    font-size: 10rem;
    font-weight: 300;
    line-height: 1.05;
    @include ipad {
      font-size: 12rem;
    }
    @include desktop {
      font-size: 14rem;
    }
  }

  .weather-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .MuiSvgIcon-root {
      font-size: 4.5rem !important;
    }
  }

  .detail {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #e9e7ea;
    @include ipad {
      font-size: 2.6rem;
    }
  }
}

.fav-icon {
  margin-left: 5px;
  font-size: 3rem !important;
  cursor: pointer;
  @include ipad {
    font-size: 3.5rem !important;
  }
  @include desktop {
    font-size: 4.5rem !important;
  }
}
