@import './mixin';
@import './variables';

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include desktop {
    flex-direction: row;
  }
}

.container {
  width: 88%;
  padding-top: 25px;
  margin: auto;
  height: 100%;
}
