@import '../../sass/mixin';

.sidebar {
  background: #373b46;
  padding-bottom: 30px;

  @include ipad {
    flex-basis: 250px;
  }
  @include desktop {
    flex-basis: 450px;
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
