@import '../../sass/variables';
@import '../../sass/mixin';

.btn {
  background: $main-green;
  border: none;
  color: $text-color;
  cursor: pointer;
  font-size: 2rem;
  height: 50px;
  text-transform: capitalize;
  width: 100%;
  @include desktop {
    height: 70px;
    font-size: 2.8rem;
  }
  &:hover {
    opacity: 0.8;
  }
}
